$negro: #0C1713;
$azul1: #101243;
$azul2: #140C73;
$blanco: white;

@mixin bordes{
    border: 1px black solid;
    border-radius: 10px;
}

/* GENERAL */
main{
    // margin-bottom: 30% !important;
}

#editar{
    // box-sizing: border-box;
    input{
        // margin: 10%;
        width: 40%;
        height: 15%;

        @include bordes;
    }
    button{
        width: 30vh;
        height: 6vh;
    }
    img{
        width: 25vh;
        height: 30vh;

        @include bordes;

    }
}

input[type="file"] {
    display: none;
    width: 25vh !important;
}

.imagen {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    @include bordes;
    width: 25vh !important;

}

#rol{
    input, button{
        height: 5vh;
        @include bordes;
    }
    input{
        width: 30vh;
    }
}

#eliminar{
    select, button{
        height: 5vh;
        @include bordes;
    }
    select{
        width: 30vh;
    }
}


#cerrar{
    position: absolute;
    bottom: 5%;
    left: 90%;
    z-index: 10;

    border: white 1px solid;
}