$negro: #0C1713;
$azul1: #101243;
$azul2: #140C73;
$blanco: white;

main{
    margin-bottom: 15%;
}

#cofre{ 
    // background-image: url("/public/IMG/fondo.jpg");
    background-color: $negro;
    height: 100vh;

    h1{
        margin-top: 15% !important;
        font-size: 700%;
        z-index: 1;

        animation: texto 1s linear infinite alternate;
    }
    button{
        height: 7vh;
        min-width: 8vw;
        z-index: 1;
    }
    p{
        z-index: 1;
    }
    #fondo{
        position: absolute;
        z-index: 0;
        height: 100vh;
    }
}

#candado{
    // height: 50vh;

    article{
        height: 40vh;
        background-color: $azul1;
        position: relative;

        h1{
            font-size: 500%;
            animation: combinacion 1s linear infinite alternate;
        }
        div{
            height: 25%;
            width: 100%;

            background-color: $negro;
            position: absolute;
            bottom: 0;
        }

        transform: translateY(4px);
        transition: 1s;
        &:hover{
            transform: translateY(-4px);
            transition: 1s;
            background-color: #140C73;
        }
        // &:hover::after{
        //     content: ">";

        //     width: 5vh;
        //     height:5vh;
        //     border-radius: 50%;
        //     background-color: $blanco;
        //     color: $negro;
        //     font-size: large;

        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

            
        // }
    }
 
}

@keyframes texto {
    0%   {
        transform: translateY(-2px);
    }
    25%  {
        transform: translateY(-4px);
    }
    50%  {
        transform: translateY(-6px);
    }
    100% {    
        transform: translateY(-8px);
    }
  }

  @keyframes combinacion {
    // 0%   {
    //     opacity: 1;
    // }
    // 25%  {
    //     opacity: .8;
    // }
    // 50%  {
    //     opacity: .6;
    // }
    // 100% {    
    //     opacity: .5;
    // }
  }