#juego6{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor{
    display: flex;
    text-align: center;
    justify-content: space-around;

    flex-direction: row;

    width:40%;
}
.tam{
    width:20%;
}

.caja{
    width: 5vh;
    height: 5vh;

    border: 1px solid black;
    background-color: white;
}