/* GENERAL */



/* CLASS */

.usu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usu-edit {
    flex-flow: column wrap;
}

.usu-inp {
    align-self: center;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 15px;
}

.usu-btn {
    align-self: center;
    flex-wrap: wrap;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.usu-img {
    padding: 50px;
    align-self: center;
}

.adm-inp {
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    width: 350px;
}

.adm-btn {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px 15px;
}

.del-inp {
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    width: 350px;
}

.del-btn {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px 15px;
}