:root {
    // Default
    --f: white; //Fondo

    --d0: white; //Div0
    --d1: white; //Div1
    --d2: white; //Div2

    --h: white; //Header

    // OSCURO
    // --f: #252525; //Fondo

    // --d0: #d2b202; //Div0
    // --d1: #323232; //Div1
    // --d2: #F5F3F0; //Div2


    // CLARO
    // --f: #EFDBC7; //Fondo

    // --d0: #B08D6B; //Div0
    // --d1: #E8C39E; //Div1
    // --d2: #F5F3F0; //Div2
}
  
// MODO OSCURO
// --_main
// --Admin
// --Juegos
// --Log-Reg