$f: #EFDBC7; //Fondo

$d0: #B08D6B; //Div0
$d1: #E8C39E; //Div1
$d2: #F5F3F0; //Div2

$b: #FFFFFE; //Blaco
$n: #252525; //Negro

html {
    min-height: 100%;
    position: relative;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $d1 !important;

    aside{
        background-color: $d0 !important;
    }
}



/* HEADER */

header{
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $n;

    a{
        cursor: pointer
    }
}

#perfil{
    max-width: 40px;
    height: 40px;
    border-radius: 10px;
}

#color {
    border: 1px solid $b;
    color: $b;
    background-color: $n;
}
