@import "_colores";
@import "_main";

$f: var(--f); //Fondo

$d0: var(--d0); //Div0
$d1: var(--d1); //Div1
$d2: var(--d2); //Div2

$h: var(--h); //Header
$t: var(--t); //Text

$b: #FFFFFE; //Blaco
$n: #191919; //Negro

// MODO OSCURO*******
*{
    color: $b;
}
// MODO OSCURO*******

main{
    padding-top: 5%;

    section{
        background-color: $d1;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    
        max-width: 500px;
        min-height: 400px;
    }
}


#menu {
    display: table !important;
    width: 100%;
}

.menu-obj {
    display: table-cell;
    background: $d0;
}

.menu-btn{
    background-color: $d0 !important;
    color: $b !important;

    &:focus{
        background-color: $d1 !important;
    }    
}

option{
    color: $n;
}

.formulario{
    input {
        margin-bottom: 12px;
        border-radius: 3px;
    }
    button {
        margin-top: 20px;
    }
}
